name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  linters:
    name: Run Go Linters
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Setup Linux Dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y libgl1-mesa-dev and xorg-dev

    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Run Linters
      run: make check
      env:
        SKIP_TESTS: yes

  short:
    name: Short tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Setup Linux Dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y libgl1-mesa-dev and xorg-dev

    - name: Setup Windows Dependencies
      if: runner.os == 'Windows'
      run: |
        choco install -y make mingw

    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Setup Containers
      if: runner.os == 'Linux'
      run: |
        make setup

    - name: Run Tests
      run: make check
      env:
        GOTEST_FLAGS: "-short"
        SKIP_LINTERS: yes
        RUN_DATABASE_TESTS: ${{ runner.os == 'Linux' }}

    - name: Teardown Containers
      if: runner.os == 'Linux'
      run: |
        make teardown

  sources-long:
    name: Long testing pkg/sources/
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Short Tests
      run: go test ./pkg/sources... -count 1 -v

  docker-hub:
    name: Docker Hub (${{ matrix.platform }})
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - arch: amd64
            platform: linux/amd64
            runner: ubuntu-latest
          - arch: arm64
            platform: linux/arm64
            runner: ubuntu-24.04-arm64
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Docker Hub
      run: make docker-hub
      env:
        ARCH: ${{ matrix.arch }}

  docker-openshift:
    name: Docker Openshift (${{ matrix.platform }})
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - arch: amd64
            platform: linux/amd64
            runner: ubuntu-latest
          - arch: arm64
            platform: linux/arm64
            runner: ubuntu-24.04-arm64
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Docker Hub
      run: make docker-openshift
      env:
        ARCH: ${{ matrix.arch }}
