name: Go

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  linters:
    name: Run Go Linters
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Setup Linux Dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y libgl1-mesa-dev and xorg-dev

    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Run Linters
      run: make check
      env:
        SKIP_TESTS: yes

  short:
    name: Short tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Setup Linux Dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y libgl1-mesa-dev and xorg-dev

    - name: Setup Windows Dependencies
      if: runner.os == 'Windows'
      run: |
        choco install -y make mingw

    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Setup Containers
      if: runner.os == 'Linux'
      run: |
        make setup

    - name: Run Tests
      run: make check
      env:
        GOTEST_FLAGS: "-short"
        SKIP_LINTERS: yes
        RUN_DATABASE_TESTS: ${{ runner.os == 'Linux' }}

    - name: Teardown Containers
      if: runner.os == 'Linux'
      run: |
        make teardown

  sources-long:
    name: Long testing pkg/sources/
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Short Tests
      run: go test ./pkg/sources... -count 1 -v

  docker:
    name: Docker build
    runs-on: [ ubuntu-latest ]
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Docker Hub
      run: make docker-hub

    - name: Push Tagged Image
      if: github.repository == 'moov-io/watchman'
      run: |+
          echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
          make release-push-tag
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

    - name: Docker Static
      run: make docker-static


  openshift:
    name: Openshift Docker Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Build Image
      run: make docker-openshift
