name: Model Prepare

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  onnx-export:
    name: ONNX Export
    runs-on: [ ubuntu-latest ]
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Docker Build
      run: make docker-onnx-export
