name: Create Release

on:
  push:
    tags: [ "v*.*.*" ]

env:
  RELEASE: yes

permissions:
  contents: read

jobs:
  tests:
    uses: ./.github/workflows/go.yml
    name: Go Tests
    secrets: inherit

  create_release:
    name: Create Release
    needs: [tests]
    runs-on: ubuntu-latest
    permissions:
      contents: write  # For creating release
      actions: write   # For uploading artifact
    steps:
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        prerelease: true

    - name: Output Release URL File
      run: echo "${{ steps.create_release.outputs.upload_url }}" > release_url.txt

    - name: Save Release URL File for publish
      uses: actions/upload-artifact@v6
      with:
        name: release_url
        path: release_url.txt
        retention-days: 1

  publish:
    name: Publish
    needs: [tests, create_release]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    permissions:
      contents: write  # For uploading release assets
      actions: read    # For downloading artifact
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Load Release URL File from release job
      uses: actions/download-artifact@v7
      with:
        name: release_url
        path: release_url

    - name: Setup Linux Dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y libgl1-mesa-dev and xorg-dev

    - name: Setup Windows Dependencies
      if: runner.os == 'Windows'
      run: |
        choco install -y make mingw

    - name: Install Fyne
      run: make setup-webui

    - name: Distribute
      run: make dist

    - name: Get Release File Name & Upload URL
      id: get_release_info
      shell: bash
      run: |
        value=`cat release_url/release_url.txt`
        echo ::set-output name=upload_url::$value
      env:
        TAG_REF_NAME: ${{ github.ref }}
        REPOSITORY_NAME: ${{ github.repository }}

    - name: Upload Linux Binary
      if: runner.os == 'Linux'
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.get_release_info.outputs.upload_url }}
        asset_path: ./bin/watchman-linux-amd64
        asset_name: watchman-linux-amd64
        asset_content_type: application/octet-stream

    - name: Upload macOS Binary
      if: runner.os == 'macOS'
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.get_release_info.outputs.upload_url }}
        asset_path: ./bin/watchman-darwin-arm64
        asset_name: watchman-darwin-arm64
        asset_content_type: application/octet-stream

    - name: Upload Windows Binary
      if: runner.os == 'Windows'
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.get_release_info.outputs.upload_url }}
        asset_path: ./bin/watchman.exe
        asset_name: watchman.exe
        asset_content_type: application/octet-stream

  docker-hub:
    name: Docker Hub (${{ matrix.platform }})
    needs: [tests, create_release]
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          - arch: amd64
            platform: linux/amd64
            runner: ubuntu-latest
          - arch: arm64
            platform: linux/arm64
            runner: ubuntu-24.04-arm
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Clean
      run: make clean

    - name: Build Web UI
      run: |
        make setup-webui
        make build-webui

    - name: Docker Hub
      run: make docker-hub
      env:
        ARCH: ${{ matrix.arch }}

    - name: Login to Docker Hub
      if: ${{ env.DOCKER_USERNAME }} != ""
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Docker Hub Push
      if: ${{ env.DOCKER_USERNAME }} != ""
      run: make docker-hub-push
      env:
        ARCH: ${{ matrix.arch }}

  docker-hub-manifest:
    name: Docker Hub Manifest
    needs: [docker-hub]
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Login to Docker Hub
      if: ${{ env.DOCKER_USERNAME }} != ""
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Docker Manifest
      if: ${{ env.DOCKER_USERNAME }} != ""
      run: make docker-hub-manifest

  docker-openshift:
    name: Docker Openshift (${{ matrix.platform }})
    needs: [tests, create_release]
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          - arch: amd64
            platform: linux/amd64
            runner: ubuntu-latest
          - arch: arm64
            platform: linux/arm64
            runner: ubuntu-24.04-arm
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Clean
      run: make clean

    - name: Build Web UI
      run: |
        make setup-webui
        make build-webui

    - name: Docker Openshift
      run: make docker-openshift
      env:
        ARCH: ${{ matrix.arch }}

    - name: Quay.io Push
      if: ${{ env.DOCKER_USERNAME }} != ""
      run: |+
          echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin quay.io
          make docker-openshift-push
      env:
        ARCH: ${{ matrix.arch }}
        DOCKER_USERNAME: ${{ secrets.QUAY_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.QUAY_PASSWORD }}

  docker-openshift-manifest:
    name: Docker Openshift Manifest
    needs: [docker-openshift]
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Login to Docker Hub
      if: ${{ env.DOCKER_USERNAME }} != ""
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Quay.io Manifest
      if: ${{ env.DOCKER_USERNAME }} != ""
      run: |+
          echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin quay.io
          run: make docker-openshift-manifest
      env:
        DOCKER_USERNAME: ${{ secrets.QUAY_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.QUAY_PASSWORD }}
