name: Create Release

on:
  push:
    tags: [ "v*.*.*" ]

env:
  RELEASE: yes

permissions:
  contents: read

jobs:
  tests:
    uses: ./.github/workflows/go.yml
    name: Go Tests
    secrets: inherit

  release:
    name: Release
    needs: [tests]
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Check out code
      uses: actions/checkout@v6

    - name: Setup Linux Dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y libgl1-mesa-dev and xorg-dev

    - name: Setup Windows Dependencies
      if: runner.os == 'Windows'
      run: |
        choco install -y make mingw

    - name: Install Fyne
      run: make setup-webui

    - uses: goreleaser/goreleaser-action@v6
      with:
        distribution: goreleaser
        version: 'latest'
        args: release --clean
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  docker-hub:
    name: Docker Hub (${{ matrix.platform }})
    needs: [tests, release]
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          - arch: amd64
            platform: linux/amd64
            runner: ubuntu-latest
          - arch: arm64
            platform: linux/arm64
            runner: ubuntu-24.04-arm
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Clean
      run: make clean

    - name: Build Web UI
      run: |
        make setup-webui
        make build-webui

    - name: Docker Hub
      run: make docker-hub
      env:
        ARCH: ${{ matrix.arch }}

    - name: Login to Docker Hub
      if: ${{ env.DOCKER_USERNAME }} != ""
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Docker Hub Push
      if: ${{ env.DOCKER_USERNAME }} != ""
      run: make docker-hub-push
      env:
        ARCH: ${{ matrix.arch }}

  docker-hub-manifest:
    name: Docker Hub Manifest
    needs: [docker-hub]
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Login to Docker Hub
      if: ${{ env.DOCKER_USERNAME }} != ""
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Docker Manifest
      if: ${{ env.DOCKER_USERNAME }} != ""
      run: make docker-hub-manifest

  docker-openshift:
    name: Docker Openshift (${{ matrix.platform }})
    needs: [tests, release]
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          - arch: amd64
            platform: linux/amd64
            runner: ubuntu-latest
          - arch: arm64
            platform: linux/arm64
            runner: ubuntu-24.04-arm
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Clean
      run: make clean

    - name: Build Web UI
      run: |
        make setup-webui
        make build-webui

    - name: Docker Openshift
      run: make docker-openshift
      env:
        ARCH: ${{ matrix.arch }}

    - name: Quay.io Push
      if: ${{ env.DOCKER_USERNAME }} != ""
      run: |+
          echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin quay.io
          make docker-openshift-push
      env:
        ARCH: ${{ matrix.arch }}
        DOCKER_USERNAME: ${{ secrets.QUAY_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.QUAY_PASSWORD }}

  docker-openshift-manifest:
    name: Docker Openshift Manifest
    needs: [docker-openshift]
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: stable
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Login to Docker Hub
      if: ${{ env.DOCKER_USERNAME }} != ""
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Quay.io Manifest
      if: ${{ env.DOCKER_USERNAME }} != ""
      run: |+
          echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin quay.io
          run: make docker-openshift-manifest
      env:
        DOCKER_USERNAME: ${{ secrets.QUAY_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.QUAY_PASSWORD }}
